.nonogram {
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas:
    "previewAndTimer topNumbers"
    "sideNumbers board";
}

.previewAndTimer {
  grid-area: previewAndTimer;
  justify-content: center;
  align-items: center;
}

.timer {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.message {
  display: block;
  position: fixed;
  left: 50%;
  top: 50%;
  background-color: gray;
  color: white;
  border-radius: 2vmin;
  padding: 2vmin;
  font-size: xx-large;
}
