@import url("https://fonts.googleapis.com/css?family=Lato:300,400&display=swap");

:root {
  --bg-none: #eee;
  --bg-0: #666666;
  --bg-1: #98e053;
  --bg-2: #bae456;
  --bg-3: #dce759;
  --bg-4: #ead75d;
  --bg-5: #eebc60;
  --bg-6: #f1a164;
  --bg-7: #f58667;
  --bg-8: #f86b6b;
  --bg-B: black;
  --bg-F: #ff3ba7;
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: "Lato", sans-serif;
  -webkit-user-select: none;
}

body {
  background: cornflowerblue;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer {
  background: white;
  width: 100px;
  text-align: center;
  padding: 0.5rem;
  margin-top: 0.2rem;
  font-size: 20px;
  border-radius: 9999px;
}

.game-container {
  min-width: 500px;
  max-width: 1000px;
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.grid-container {
  padding: 1rem;
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: 35px;
  grid-gap: 5px;
}

.grid-container button {
  color: white;
  font-size: 24px;
  border-radius: 10px;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boardsize-container {
  display: flex;
  flex-direction: column;
  margin: 0 0.5rem;
  margin-top: 2rem;
}
.boardsize-container > p:first-of-type {
  color: white;
  font-size: 24px;
  text-align: center;
}

.boardsize-container button {
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  font-weight: 300;
  color: white;
  transition: all 0.4s ease-in-out;
}

.boardsize-container .selected {
  font-size: 24px;
  font-weight: 400;
}

.instructions {
  margin-top: 1rem;
  padding: 0 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.instructions h4 {
  margin-bottom: 0.25rem;
}

.instructions p {
  margin: 0.25rem 0;
  font-size: 16px;
  font-weight: 300;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.instructions p span {
  margin-left: 1rem;
}

.game-btn-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-btn-container button {
  color: white;
  background: rgb(83, 83, 83);
  width: 150px;
  font-size: 20px;
  font-weight: 300;
  border-radius: 9999px;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;
  transition: all 0.2s ease-in-out;
}

.game-btn-container button:hover {
  background: lightgreen;
}

.right-container {
  margin-top: 2rem;
  color: white;
  font-size: 24px;
  font-weight: 300;
  text-align: left;
}

.container .win-banner {
  margin-top: 0.2rem;
  color: white;
  font-size: 20px;
  font-weight: 300;
  height: 30px;
  transition: all 0.4s ease-in-out;
}

.invisible {
  opacity: 0;
}

.visible {
  opacity: 1;
}
